{% extends "base.html" %}
{% block content %}
    <div class="container-sm mt-5">
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group mb-2">
    <input type="text" class="form-control" name="title" id='id_title'>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Input the book title whose you wanna search
        </small>
{#    {{ form.title }}#}
    </div>
    <br>
    {{ form.authors }}
    <input type="submit" value="Search">
    </form>
    </div>
{% endblock %}